<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="magebit_gridrender_post_listing_data_source" xsi:type="string">Magebit\GridRender\Model\ResourceModel\Post\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Magebit\GridRender\Model\ResourceModel\Post\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">magebit_post</argument>
            <argument name="eventPrefix" xsi:type="string">magebit_gridrender_post_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">post_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Magebit\GridRender\Model\ResourceModel\Post</argument>
            <argument name="logger" xsi:type="object">Psr\Log\LoggerInterface</argument>
        </arguments>
    </type>
    <type name="Magebit\GridRender\Controller\Adminhtml\Item\Save">
        <plugin name="magebit_gridrender_save_action_plugin" type="Magebit\GridRender\Plugin\SaveActionPlugin"/>
    </type>
</config>
