/dev/*
!/dev/tools

/dev/tools/*
!/dev/tools/grunt

/dev/tools/grunt/*
!/dev/tools/grunt/configs

/dev/tools/grunt/configs/*
!/dev/tools/grunt/configs/themes.js

node_modules/
node_modules/puppeteer/.local-chromium/

